# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

**Q1. Find the largest number from the given list, use for loop.**

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [1]:
numbers = [12, 75, 150, 180, 145, 525, 50]

largest = numbers[0]

for i in numbers[1:]:
    if largest < i:
        largest = i
    else:
        continue
print(largest)

525

**Q2. Print all the even number between (1, 12).**

In [2]:
for i in range(1,12):
    if i%2 == 0:
        print(i)
    else:
        continue

2
4
6
8
10

**Q3. Calculate the sum of all numbers from 1 to a given number**
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [5]:
sum_till = int(input("Enter number"))

summation = 0

for i in range(sum_till+1):
    summation = summation + i

print(summation)

Enter number10
55

**Q4. Write a program to display only those numbers from a list that satisfy the following conditions**

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

- Given numbers = [12, 75, 150, 180, 145, 525, 50]

In [7]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for num in numbers:
    if num > 500:
        break
    elif num > 150:
        continue
    elif num % 5 == 0:
        print(num)

75
150
145

**Q5. Print the given list in reverse order.**

```
list1 = [10, 20, 30, 40, 50]
```

In [2]:
list1 = [10, 20, 30, 40, 50]

#print(list1[::-1])

out_list = [0]*len(list1)

for i in range(1,len(list1)+1):
    out_list[-i] = list1[i-1]

print(out_list)

[50, 40, 30, 20, 10]